.accordion {
    -webkit-box-shadow: #f29700;

    background-color: transparent;
    margin: auto;
}

.title {
    background-color: #f29700;
    color: #fff;
    text-transform: uppercase;
    //letter-spacing: 1px;
    text-align: left;
    //line-height: 2;
    font-weight: lighter;
    position: relative;
    padding: 10px;
    z-index: 2000;
    border-radius: 4px;
    //margin-top: 2px;
    transition: all 0.2s ease-in;
}

.title-text {
    margin-left: 10px;
}

.title:hover {
    cursor: pointer;
    background-color: orange;
}

.title:active {
    background-color: rgba(0, 0, 0, 0.55);
}

.content-text {
    background-color: white;
    border-radius: 4px;
    color: black;
    font-size: 14px;
    text-align: center;
    position: relative;
    z-index: 1000;
    
    margin-top: -50px;
    text-align: left;
    transition: all 200ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    //padding: 10px;
}

.content-text-open {
    margin-top: 0px;
    height: 200px;
    background-color: white;
    transition: all 350ms cubic-bezier(0.08, 1.09, 0.32, 1.275);
}

.content-text-text {
    //    padding: 15px;
    visibility: hidden;
    opacity: 0;
    overflow: auto;
    transition: all 0.2s ease-in;
}

.content-text-text-open {
    visibility: visible;
    opacity: 1;
    transition: all 0.8s ease-in;
}

.fa-angle-down {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.6s cubic-bezier(0.08, 1.09, 0.32, 1.275);
}

.fa-rotate-180 {
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
}

.arrow-wrapper {
    font-size: 25px;
    padding-right: 10px;
    line-height: 25px;

    float: right;
    //line-height: 2;

    z-index: 2000;
}
