// .card{

//     border-radius: 17px;

//   }
//   .trColor{
//       background: #FCF6EA;
//   }  .trColor1{
//     background: rgb(218, 213, 213);
// }
// .imgleft{
//     margin-left: -130px;
// }
// .inputformColor {
//     border-radius: 32px;
//     border-color: #F29700;
// }
// .Headcolor{
//     color:#F29700 ;
// }


.MasterCardImage{
    float: right;
}

.account_desc {
    font-family: Montserrat;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: #2d2926;
    margin-left: 60px;
  }

  .Cheque {
    
    height: 150px;
    object-fit: contain;
  }
  
  .table-label {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: center;
    color: #2d2926;
    margin-bottom: 20px;
  }
  .table-label3 {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: inherit;
    color: #2d2926;
    
  }
  .table-card{
      height: 1004px;
  }

  .account_information{
    line-height: 0.5;
  }

  .Heading1 {

   // height: 30px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    margin-top: 30px;
    margin-left: 30px;
    color: #f29700;
  }