.switch-bt {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}
.card-label-text {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  } 
  .card-label-quantity {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 900;
    color: #ffffff;
    margin-top: 40px;
    float:right;
  }
  .card-label-price {
    font-family: Montserrat;
    font-size: 70px;
    font-weight: 400;
    color: #ffffff;
   
    float:right;
  }
  .card-icon{
    margin-bottom: 5px;
    width: 15px;
  }

  .card-pickup {
    background: #f29700;
    color: white;
}
.card-price {
  background: #23934c;
  color: white;
}
.table-bt{
    
border-radius: 2.5px;
  background-color: #f3f5f8;
  font-weight: bold;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #aab1bf;
  padding: 10px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.table-bt:hover{
    background-color: #f29700;
    color: white;
}
.search-btn {
 
  height: 35px;
  background-color: #f29700;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  border:0;
 
  color: #ffffff;
  position: relative;
  right:  30%;
  // margin-top: 30px;
  // margin-left: 150px;
}
.search-btn1 {
 
  height: 32px !important;
  background-color: #f29700;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
 
  color: #ffffff;
  position: relative;
  right:  30%;
  // margin-top: 30px;
  // margin-left: 150px;
}
.modalpadding{
  padding-left: 49px !important;
  padding-top: 27px !important;
  padding-right: 37px !important;
  padding-bottom: 15px !important;
}

.topmar{
  margin-top: 42px;
}
.upload-btn {
 
  height: 40px;
  background-color: #23934c;
  font-family: Montserrat;
  // font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
 border: 0;
  color: #ffffff;
  position: relative;
  right:  25%;
  // margin-top: 30px;
  // margin-left: 150px;
}
.input-search-container {
  display: flex;
  width: 70%;
  margin-left: 30px;
 
  }

.input-search{
  height: 40px;
  width: 100%;
  border: solid 1px #f29700;
  background-color: #ffffff;
} 
.modal-upload-label {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #767676;
  margin-left: 40px;
}